    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What we're about</h2>
                <img width="400" class="pull-right logo-image" src="/img/logo.svg"/>
                <p>Zenity Labs is an ideas incubator for creators building software and SaaS businesses. The goal is to
                help creators bootstrap, and share in collective profits.</p>
                <p>The company exists as a platform from which to launch products and get creators paid; not for the
                company to make a profit.</p>
            </div>
        </div>
    </section>
