    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What we're about</h2>
                <img width="400" class="pull-right logo-image" src="/img/logo.svg"/>
                <p>Zenity Labs is a home for indie founders creating software and SaaS businesses. We help creators bootstrap
                their ideas and turn them into profitable businesses by sharing company profits with our members.</p>

                <p>Zenity Labs is founded on the principle that profits are for the <b>people</b> doing the hard work of
                creating successful businesses, not investors.</p>
            </div>
        </div>
    </section>
